@import './tokens.css';

@import '../components/metrics-grid.css';
@import '../components/header.css';
@import '../components/metric/layout.css';
@import '../components/ui/button.css';
@import '../components/ui/dialog.css';
@import '../components/ui/drawer.css';
@import '../components/ui/field.css';
@import '../components/ui/heading.css';
@import '../components/ui/number-field.css';
@import '../components/ui/switch.css';
@import '../components/ui/text.css';
@import '../components/ui/toast.css';

@import '../islands/nav/nav.css';

@font-face {
  font-family: Inter;
  font-style: normal;
  font-display: optional;
  font-weight: 100 900;
  src: url(/public/fonts/inter-latin.woff2) format('woff2-variations');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

[hidden] {
  visibility: hidden;
}

html {
  font-family: Inter, system-ui, sans-serif;
}

body {
  position: relative;
  margin: 0;
  min-height: 100dvh;
  background-color: var(--background);
  color: var(--foreground);
}

.AppRoot {
  isolation: isolate;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl {
  margin: 0;
  padding: 0;
}
