.Switch {
  display: flex;
  flex-shrink: 0;
  border: 1px solid var(--border);
  padding: 0.125rem;
  width: 2.25rem;
  height: 1.25rem;
  background-color: var(--background);
  transition: background-color 150ms ease;

  &[data-checked] {
    background-color: var(--foreground);
  }

  &:focus-visible {
    outline: 2px solid var(--foreground);
    outline-offset: 2px;
  }
}

.Thumb {
  width: 0.875rem;
  height: 0.875rem;
  background-color: var(--foreground);
  transition:
    translate 150ms ease,
    background-color 150ms ease;

  &[data-checked] {
    translate: 1rem 0;
    background-color: var(--background);
  }
}
